@import '../abstracts/variables.scss';

.about {
    background-color: $color-bg;
    color: $color-white;
    padding: 3rem;
    display: flex;
    align-items: center;
}

.about_center h1 {
    display: flex;
    justify-content: center;
    margin: 3rem 3rem;
}


iframe {
    display: flex;
    justify-content: center;
  }

