$font-stack: 'Josefin Sans', sans-serif;
$color-bg: #101921;
$color-white: #fff;
$color-button: #e74444;
$color-highlight: #436198;

$container-width-lg: 50%;
$container-width-md: 90%;
$container-width-sm: 94%;

$transition: all 400ms ease;
